<div class='offer'>
  <div class='title'><%= offer['title'] %></div>
  <div class='payout'><%= offer['payout'] %></div>
  <div class='thumbnail'><%= image_tag offer['thumbnail']['lowres'] %></div>
</div>
